{% extends 'base.html' %}

{% block content %}
<div class="container">

    {% include 'nave.html' %}
    <hr>

        {% if current_user.is_authenticated %}
        <span class="btn btn-primary">{{current_user.nome}} {{current_user.sobrenome}}</span>
        <a href="{{url_for('logout')}}" class="btn btn-danger">Sair</a>
        {% else %}

        <form action="" method="post" class="row mt-4 p-4 round border shadow">
            <h3>Faça o seu Login</h3>
            {{form.csrf_token}}

            {{form.email.label()}}
            {{form.email(class="form-control")}}

            {{form.senha.label()}}
            {{form.senha(class="form-control")}}

            {{form.btnSubmit(class="btn btn-primary col-12 mt-3")}}
        
            <div class="col-12 mt-4">tem cadastro? <a href="{{url_for('cadastro')}}" class="btn-dark">Clique aqui e faça o seu cadastro</a></div>
        </form>

        {% endif %}
        <hr>

        <img src="{{url_for('static', filename='img/logoSenai.png')}}">
    
    </div>
</div>
{% endblock %}



      
